@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

* {
  line-height: 100%;
}

/**
	 Убираем внутренние отступы слева тегам списков,
	 у которых есть атрибут class
	*/
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
	 Убираем внешние отступы body и двум другим тегам,
	 у которых есть атрибут class
	*/
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
	 Убираем внешние отступы вертикали нужным тегам,
	 у которых есть атрибут class
	*/
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
	 Убираем стандартный маркер маркированному списку,
	 у которого есть атрибут class
	*/
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
	 Обнуляем вертикальные внешние отступы параграфа,
	 объявляем локальную переменную для внешнего отступа вниз,
	 чтобы избежать взаимодействие с более сложным селектором
	*/
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
	 Внешний отступ вниз для параграфа без атрибута class,
	 который расположен не последним среди своих соседних элементов
	*/
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
	 Упрощаем работу с изображениями
	*/
img {
  display: block;
  max-width: 100%;
}

/**
	 Наследуем свойства шрифт для полей ввода
	*/
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
  	 Пригодится в большинстве ситуаций
  	 (когда, например, нужно будет "прижать" футер к низу сайта)
  	*/
  height: 100%;
}

/**
	 Плавный скролл
	*/
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
  	 Пригодится в большинстве ситуаций
  	 (когда, например, нужно будет "прижать" футер к низу сайта)
  	*/
  min-height: 100%;
  /**
  	 Унифицированный интерлиньяж
  	*/
  line-height: 1.5;
}

/**
	 Приводим к единому цвету svg-элементы
	*/
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
	 Чиним баг задержки смены цвета при взаимодействии с svg-элементами
	*/
svg * {
  transition-property: fill, stroke;
}

/**
	 Удаляем все анимации и переходы для людей,
	 которые предпочитают их не использовать
	*/
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText-DemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
:root {
  --section-padding-y: 200px;
  --container-padding-x: 20px;
  --container-width: 1222px;
  --font-family-merriweather: "Merriweather";
  --base-color: #313131;
  --base-alt-color: #1F1F1F;
  --accent-color: #F54932;
  --accent-alt-color: #FBCE51;
  --white-color: #FFFFFF;
}

h1,
h2 {
  font-family: var(--font-family-merriweather);
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
  line-height: 110%;
}

h2 {
  font-size: 54px;
  line-height: 120%;
}

body {
  color: var(--base-color);
  background-color: var(--white-color);
}

p,
button {
  font-family: "Golos Text";
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.header__inner {
  padding-top: 26px;
}

.button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 72px;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  border-radius: 66px;
  border: 2px solid var(--base-alt-color);
}
.button--dark {
  background-color: var(--base-alt-color);
  color: var(--white-color);
}
@media (hover: hover) {
  .button--dark:hover {
    background-color: var(--accent-alt-color);
    color: var(--base-alt-color);
    border-color: var(--accent-alt-color);
  }
}
@media (hover: none) {
  .button--dark:active {
    background-color: var(--accent-alt-color);
    color: var(--base-alt-color);
    border-color: var(--accent-alt-color);
  }
}
.button--transparent {
  background-color: transparent;
  color: var(--base-alt-color);
}
@media (hover: hover) {
  .button--transparent:hover {
    background-color: var(--base-alt-color);
    color: var(--white-color);
  }
}
@media (hover: none) {
  .button--transparent:active {
    background-color: var(--base-alt-color);
    color: var(--white-color);
  }
}

.intro-wrapper {
  height: 700px;
  background-image: url("../images/intro/intro-background.jpg");
  background-position: center;
  margin-top: -62px;
}

.intro {
  padding-top: 124px;
}
.intro__title, .intro__description, .intro__buttons-box {
  max-width: 542px;
}
.intro__title-text {
  line-height: 110%;
  display: block;
}
.intro__description {
  padding-top: 24px;
  padding-bottom: 40px;
  text-align: center;
}
.intro__description p {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}
.intro__buttons-box {
  display: flex;
  justify-content: space-between;
}
.intro__button {
  padding-inline: 49px;
  max-width: 263px;
}/*# sourceMappingURL=style.css.map */