h1,
h2 {
	font-family: var(--font-family-merriweather);
	font-weight: 400;
	text-transform: uppercase;
}

h1 {
	font-size: 60px;
	line-height: 110%;
}

h2 {
	font-size: 54px;
	line-height: 120%;
}

body {
	color: var(--base-color);
	background-color: var(--white-color);
}

p,
button {
	font-family: 'Golos Text';
}