:root {
	--section-padding-y: 200px;
	--container-padding-x: 20px;
	--container-width: 1222px;

	--font-family-merriweather: 'Merriweather';

	--base-color: #313131;
	--base-alt-color: #1F1F1F;
	--accent-color: #F54932;
	--accent-alt-color: #FBCE51;

	--white-color: #FFFFFF;
}